{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/css/order.css">
{% endblock %}


{% block page_content %}
		<!-- display the order form -->
		<div class="order-form">
			<!-- order intro -->
			<h4>Fill in order information</h4>
			<p id="warning">Please fill in according to the actual check-in number and keep the same name and certificate</p>
			<!-- end of the order intro -->
			<hr>
			<form class="form-inline" role="form" name="search-form" action="{{ request.path }}" method="post">
				<div class="container">
				  <div class="row">
					<div class="col-sm-4">
						<div class="form-group datepicker">
							<label>Check in date</label>
                            <p>{{ check_in }}</p>
						</div>
						<div class="form-group">
							<label>Name</label>
							<input type="text" name="name" class="form-control">
						</div>
						<div class="form-group" id="select-form">
						  <label>ID type</label>
						  <select name="type" class="form-control">
							<option>中华人民共和国居民身份证</option>
							<option>港澳通行证</option>
							<option>其他</option>
						  </select>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group datepicker">
							<label for="name">Check out date</label>
                            <p>{{ check_out }}</p>
						</div>
						<div class="form-group">
							<label>Phone Number</label>
							<input type="text" name="phone" class="form-control">
						</div>
						<div class="form-group">
							<label>ID Number</label>
							<input type="text" name="ID-number" class="form-control">
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group" id="select-form">
						  <label>Room Number</label>
						  <select name="quantity" class="form-control">
                              {% for i in range(1,room_number+1) %}
                                {% if i<= 5 %}
                                  <option>{{ i }}</option>
                                {% endif %}
                              {% endfor %}
						  </select>
						</div>
						<div class="form-group">
							<label>Email</label>
							<input type="email" name="email" class="form-control">
						</div>
					</div>
				  </div>
				</div>
				<div class="form-group" id="description">
					<label>Notes</label>
					<textarea class="form-control" id="notes" name="note" rows="6"></textarea>
				</div>
                <center>
			    <button type="submit" class="btn btn-default">Confirm</button>
			    </center>
			</form>
            <div style="margin-top: 10px;margin-bottom: 50px">
                <center>
			    <a href="/details/{{ hotel_id }}">Back</a>
			    </center>
		    </div>
		<!-- end of the order form -->
{% endblock %}
